# env.template
LLDAP_ADMIN_USER=op://Private/lldap admin/username
LLDAP_ADMIN_PASSWORD=op://Private/lldap admin/password
LLDAP_URL=op://Private/lldap admin/lldap_url
SMTP_HOST=op://Private/lldap admin/smtp_host
SMTP_PORT=25
EMAIL_FROM=op://Private/lldap admin/email_from
AUTHELIA_URL=op://Private/lldap admin/authelia_url
