---
apiVersion: v1
kind: Service
metadata:
  name: immich-pg
spec:
  type: ClusterIP
  ports:
    - name: postgres
      port: 5432
      protocol: TCP
      targetPort: 5432
  selector:
    cnpg.io/cluster: immich-pg
    role: primary
