# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app actual-budget
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      strategy: rollback
  values:
    controllers:
      actual-budget:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: actualbudget/actual-server
              tag: latest
            envFrom:
              - secretRef:
                  name: actual-budget-secret
            env:
              ACTUAL_DATA_DIR: /data
              ACTUAL_PORT: &port 80
              ACTUAL_SERVER_FILES: /data/server-files
              ACTUAL_USER_FILES: /data/user-files
              ACTUAL_LOGIN_METHOD: openid
              ACTUAL_ALLOWED_LOGIN_METHODS: openid
              ACTUAL_OPENID_DISCOVERY_URL: https://auth.${SECRET_PUBLIC_DOMAIN}
              ACTUAL_OPENID_CLIENT_ID: actual-budget
              ACTUAL_OPENID_SERVER_HOSTNAME: https://actual.internal.${SECRET_DOMAIN}
              ACTUAL_OPENID_AUTH_METHOD: oauth2
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 2Gi
    service:
      app:
        controller: actual-budget
        ports:
          http:
            port: *port
    persistence:
      user-data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          actual-budget:
            app:
              - path: /data
