# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app influxdb
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: rollback
  uninstall:
    keepHistory: false
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
    - name: volsync
      namespace: volsync-system
  values:
    controllers:
      influxdb:
        annotations:
          reloader.stakater.com/auto: 'true'
        containers:
          app:
            image:
              repository: influxdb
              tag: 2.8.0
            env:
              INFLUXDB_DATA_CACHE_MAX_MEMORY_SIZE: 3G
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 23m
                memory: 512Mi
              limits:
                memory: 1Gi
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
            fsGroup: 568
            fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        controller: influxdb
        annotations:
          external-dns.alpha.kubernetes.io/hostname: influx-direct.internal.${SECRET_DOMAIN}
        externalTrafficPolicy: Cluster
        ports:
          http:
            port: 8086
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /var/lib/influxdb2
