---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich
  namespace: media
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: immich-secret
    creationPolicy: Owner
    template:
      engineVersion: v2
      data:
        # Immich
        DB_HOSTNAME: &dbhost immich-rw.database.svc.cluster.local
        DB_USERNAME: &dbuser "{{ .IMMICH_DB_USERNAME }}"
        DB_PASSWORD: &dbpass "{{ .IMMICH_DB_PASSWORD }}"
        DB_DATABASE_NAME: &dbname immich
        JWT_SECRET: "{{ .JWT_SECRET }}"
        # Postgres Init
        INIT_POSTGRES_DBNAME: *dbname
        INIT_POSTGRES_HOST: *dbhost
        INIT_POSTGRES_USER: "dummyuser" # we don't use this but it's required
        INIT_POSTGRES_PASS: "{{ .IMMICH_DUMMY_USER_PASSWORD }}"
        INIT_POSTGRES_SUPER_USER: *dbuser
        INIT_POSTGRES_SUPER_PASS: *dbpass
  dataFrom:
    - extract:
        key: immich
    - extract:
        key: cloudnative-pg
