---
session:
  redis:
    host: dragonfly.database.svc.cluster.local
    database_index: 14
  same_site: lax
  cookies:
    - name: "internal.${SECRET_DOMAIN}_session"
      domain: "internal.${SECRET_DOMAIN}"
      authelia_url: "https://auth.internal.${SECRET_DOMAIN}"
      default_redirection_url: "https://auth.internal.${SECRET_DOMAIN}/settings"
    - name: "${SECRET_PUBLIC_DOMAIN}_session"
      domain: "${SECRET_PUBLIC_DOMAIN}"
      authelia_url: "https://auth.${SECRET_PUBLIC_DOMAIN}"
      default_redirection_url: "https://auth.${SECRET_PUBLIC_DOMAIN}/settings"

access_control:
  default_policy: deny
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:
    - domain: ["*.internal.${SECRET_DOMAIN}"]
      policy: one_factor
      subject:
        - 'group:admin'
    - domain: ["*.${SECRET_PUBLIC_DOMAIN}"]
      policy: two_factor
      subject:
        - 'group:admin'

identity_providers:
  oidc:
    cors:
      endpoints: ["authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - id: grafana
        description: Grafana
        secret: "${GRAFANA_OAUTH_CLIENT_SECRET_HASH}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris: ["https://grafana.${SECRET_DOMAIN}/login/generic_oauth"]
        userinfo_signed_response_alg: none
      - id: immich
        description: Immich
        secret: "${IMMICH_OAUTH_CLIENT_SECRET_HASH}"
        public: false
        authorization_policy: two_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "email"]
        redirect_uris:
          - 'https://photos.${SECRET_PUBLIC_DOMAIN}/auth/login'
          - 'https://photos.${SECRET_PUBLIC_DOMAIN}/user-settings'
          - 'https://photos.internal.${SECRET_DOMAIN}/auth/login'
          - 'https://photos.internal.${SECRET_DOMAIN}/user-settings'
          - 'app.immich:///oauth-callback'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: 'client_secret_post'
