# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless-ngx
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    createNamespace: true
    remediation:
      retries: 5
  upgrade:
    remediation:
      retries: 5
      strategy: rollback
  values:
    controllers:
      paperless-ngx:
        annotations:
          reloader.stakater.com/auto: 'true'
        initContainers:
          01-init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18.1.0@sha256:866f15038ed5185a2b8118821f470bb7ca0df8c4231b8e277446e681ebb1ed84
              pullPolicy: IfNotPresent
            envFrom: &envFrom
              - secretRef:
                  name: paperless-secret
        containers:
          gotenburg:
            image:
              repository: thecodingmachine/gotenberg
              tag: 8.25.1
              pullPolicy: IfNotPresent
            env:
              - {name: DISABLE_GOOGLE_CHROME, value: '1'}
          tika:
            image:
              repository: docker.io/apache/tika
              tag: 3.2.3.0-full
              pullPolicy: IfNotPresent
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.7
            envFrom: *envFrom
            env:
              USERMAP_UID: 568
              USERMAP_GID: 100
              PAPERLESS_TIME_ZONE: "${TIMEZONE}"
              PAPERLESS_PORT: &port 80
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local:6379
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_TIKA_ENABLED: 1
              PAPERLESS_TIKA_GOTENBERG_ENDPOINT: http://localhost:3000
              PAPERLESS_TIKA_ENDPOINT: http://localhost:9998
              PAPERLESS_URL: https://paperless.internal.${SECRET_DOMAIN}
              PAPERLESS_ALLOWED_HOSTS: paperless.internal.${SECRET_DOMAIN},paperless-ngx.default.svc.cluster.local
              PAPERLESS_CONSUMPTION_DIR: /library/consume
              PAPERLESS_DATA_DIR: /data/data
              PAPERLESS_MEDIA_ROOT: /data/media
              PAPERLESS_EXPORT_DIR: /data/export
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_IGNORE_PATTERNS: '[".DS_STORE/*", "._*", ".stfolder/*", "@eaDir/*"]'
              PAPERLESS_TRUSTED_PROXIES: 10.96.0.0/16
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: true
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_SOCIAL_AUTO_SIGNUP: true
              PAPERLESS_SOCIAL_ACCOUNT_DEFAULT_GROUPS: default_reader
            resources:
              requests:
                cpu: 100m
                memory: 1Gi
              limits:
                memory: 6Gi
    service:
      app:
        controller: paperless-ngx
        ports:
          http:
            port: *port
    persistence:
      config:
        enabled: true
        existingClaim: *app
        advancedMounts:
          paperless-ngx:
            app:
              - path: /data
      downloads:
        type: nfs
        server: ${SECRET_NFS_DOMAIN}
        path: /volume1/paperless-consume/
        globalMounts:
          - path: /library
