---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  interval: 30m
  chart:
    spec:
      chart: multus
      version: 6.0.4
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
      interval: 30m
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.2.3-thick
    cni:
      image:
        repository: ghcr.io/angelnu/cni-plugins
        tag: 1.7.1
      logLevel: error
      paths:
        config: /etc/cni/net.d
        bin: /opt/cni/bin

    resources:
      requests:
        cpu: 5m
        memory: 96Mi
      limits:
        memory: 512Mi

    hostPaths:
      netns: /var/run/netns

  postRenderers:
  - kustomize:
      patches:
      # Patch for cni volume
      - target:
          kind: DaemonSet
          labelSelector: app.kubernetes.io/name=multus
        patch: |
          - op: test
            path: /spec/template/spec/volumes/0/name
            value: cni
          - op: replace
            path: /spec/template/spec/volumes/0/hostPath/type
            value: DirectoryOrCreate
      # Patch for cnibin volume
      - target:
          kind: DaemonSet
          labelSelector: app.kubernetes.io/name=multus
        patch: |
          - op: test
            path: /spec/template/spec/volumes/1/name
            value: cnibin
          - op: replace
            path: /spec/template/spec/volumes/1/hostPath/type
            value: DirectoryOrCreate
